<%#
<div class = chat-header>
  <div class = main-name>TECH CAMP</div>
  <div class = room-delete>
    <a href = "#">チャットを終了する</a>
  </div>
</div>
<div class = chat-main>
  <div class = comments>
    <div class = comment>
      <div class = comment-name>Tom</div>
      <div class = date-and-time>2020/8/17(Mon) 21:14:14</div>
    </div>
    <div class = message>Hey!</div>
  </div>
  <div class = comments>
    <div class = comment>
      <div class = comment-name>Jhon</div>
      <div class = date-and-time>2020/8/17(Mon) 21:14:44</div>
    </div>
    <div class = message>Yap</div>
  </div>
  <div class = comments>
    <div class = comment>
      <div class = comment-name>Tom</div>
      <div class = date-and-time>2020/8/17(Mon) 21:14:59</div>
    </div>
    <div class = message>Good!</div>
  </div>
</div>

<div class = chat-form>
  <form class = forms>
    <input class = text type = text placeholder = "type a message">
    <input class = send-btn type = submit value = "送信">
  </form>
</div> %>

<%# ---↑自分で書く↑---------------------------------- %>

<div class="chat-header">
  <div class="left-header">
    <div class="header-title">
      <%= @room.name %>
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>
<div class="messages">
  <%= render partial: 'message', collection: @messages %>
</div>

<%= form_with model: [@room, @message], html: {class: "form"}, local: true do |f|%>
  <div class="form-input">
    <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
<% end %>